.result {
    max-width: 50rem;
    margin: 2rem auto;
    padding: 0.5rem;
    table-layout: fixed;
    border-spacing: 1rem;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 3px;

    thead {
        font-size: 1rem;
        color: #83e6c0;
    }

    tbody {
        font-family: 'Nunito', sans-serif;
        font-size: 0.85rem;
        color: #c2e9e0;
    }
}
