@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,600;1,300;1,500;1,600&display=swap');

:root {
    --font-family: 'Nunito', sans-serif;
    --background: radial-gradient(#303b37, #1a1f1d);
    --text-color: #e1eeeb;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    font-family: var(--font-family);
    background: var(--background);
    color: var(--text-color);
}
